/*Normalise CSS across browsers*/
*{margin: 0; padding: 0; border: 0; outline: 0;}

body {
    height: calc(100vh - 40px);
    padding: 20px;
    background: #282828;
}

.clocks-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 2.5%;
}

.clock {
    border: solid 1px #292D32;
    border-radius: 50%;
    transition: all 1s;
}

.clock-face {
    overflow: hidden;
    position: relative;
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
}

.hand {
    position: absolute;
    width: 6.5%;
    height: 30%;
    top: -30%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform-origin: bottom center;
    border-radius: 10px;
    background-color: #2B2B2B;
}

.minute {
    position: absolute;
    top: -45%; 
    width: 4.5%;
    height: 45%;
}

.joint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
    margin: auto;
    border-radius: 50%;
    background-color: #242424;
}

.active.clock-wrapper .clock {
    background-color: #282828;
    transform: scale(1.75);
    box-shadow: -1px -1px 2.5px rgba(67,67,67,0.5),
    inset 1px 1px 2.5px rgba(0,0,0,0.5),
    inset -1px -1px 2.5px rgba(67,67,67,0.5),
    1px 1px 2.5px rgba(0,0,0,0.3);
}

.active.clock-wrapper .hand {
    background-color: #313131;
}

.active.clock-wrapper .joint {
    background: linear-gradient(145deg, #282828, #1C1C1C);
    box-shadow: 1px 1px 2px #222222, 
                -1px -1px 2px #2e2e2e;
}