/*Normalise CSS across browsers*/
*{margin: 0; padding: 0; border: 0; outline: 0;}

body {
    padding: 2vw 1.5vw;
    background: #282828;
    overflow: hidden;
}

.clocks-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 6.6%;
    padding-top: 15px;
}

.clock {
    border: solid 1px #292D32;
    border-radius: 50%;
    transition: all 1.5s;
    background: #282828;
    box-shadow: inset 5px 5px 11px #242424,
                inset -5px -5px 11px #2c2c2c;
}

.clock-face {
    overflow: hidden;
    position: relative;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

.hand {
    position: absolute;
    width: 6.5%;
    height: 30%;
    top: -30%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform-origin: bottom center;
    border-radius: 10px;
    background-color: #242424;
}

.minute {
    position: absolute;
    top: -45%; 
    width: 4.5%;
    height: 45%;
}

.joint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
    margin: auto;
    border-radius: 50%;
    background-color: #222;
}

.active.clock-wrapper {
    z-index: 1;
}

.active.clock-wrapper .clock {
    background-color: #282828;
    transform: scale(2);
    box-shadow: -5px -5px 10px rgba(67,67,67,0.5),
    inset 2px 2px 5px rgba(0,0,0,0.5),
    inset -2px -2px 5px rgba(67,67,67,0.5),
    5px 5px 10px rgba(0,0,0,0.3);
}

.active.clock-wrapper .hand {
    background: linear-gradient(135deg,#7DBDEF, #9F8EE9);
}

.active.clock-wrapper .joint {
    background: linear-gradient(145deg, #282828, #1C1C1C);
    box-shadow: 1px 1px 2px #222222, 
                -1px -1px 2px #2e2e2e;
}

/* Clocks at left edge */
.clocks-container .clock-wrapper.active:nth-child(15n+1) .clock {
    position: relative;
    left: 25%;
}

/* Clocks at right edge */
.clocks-container .clock-wrapper.active:nth-child(15n) .clock {
    position: relative;
    right: 25%;
}

/* Clocks at top edge */
.clocks-container .clock-wrapper.active:nth-child(-n+15) .clock {
    position: relative;
    top: 15px;
}

/* Clocks at bottom edge */
.clocks-container .clock-wrapper.active:nth-last-child(-n+15) .clock {
    position: relative;
    bottom: 25px;
}